---
import ImageList from "../lib/components/ImageList.astro";
import ImageBox from "../lib/components/ImageList.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <div>
      <!-- {Array.from({ length: 5 }).map((_, i) => <ImageBox />)} -->
      <ImageList />
    </div>
    <!-- <ImageCard client:load /> -->
    <!-- <ImageBox /> -->
  </body>
</html>
